<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informações do Aluno</title>
</head>
<body>
<div align="center">
	<h1>"O aluno foi inserido!"</h1>
<table>
	<thead>
		<tr>
			<th>Nome</th><br/>
			<th>Ra</th><br/>
			<th>Curso</th><br/>
			<th>Semestre de Conclusão</th><br/>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td th:text="${aluno.nome}"></td><br/>
			<td th:text="${aluno.ra}"></td><br/>
			<td th:text="${aluno.curso}"></td><br/>
			<td th:text="${aluno.semestreConclusao}"></td><br/>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>