<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Informações do Aluno</title>
	<style type="text/css">
		label {
			display: inline-block;
			width: 200px;
			margin: 5px;
			text-align: left;
		}
	</style>
</head>

<body>

	<div align="center">
		<form action="#" th:action="@{/alunoPost}" th:object="${aluno}" method="post">
			<label>RA do Aluno:</label>
			<input type="text" th:field="*{ra}" id="ra" /><br />

			<label>Nome do Aluno:</label>
			<input type="text" th:field="*{nome}" id="nome" /><br />

			<label>Curso:</label>
			<select th:field="*{curso}">
				<option th:each="c : ${listCurso}" th:value="${c.codigo}" th:text="${c.codigo}"></option>
			</select><br />

			<label>Semestre de Conclusão (yyyy-mm-dd):</label>
			<input type="text" th:field="*{semestreConclusao}" id="semestreConclusao" /><br />

			
			<label for="link1">Link 1:</label>
			<input type="text" id="link1" name="link1" placeholder="Adicionar o primeiro link"/>
			<br />
			
			<label for="link2">Link 2:</label>
			<input type="text" id="link2" name="link2" placeholder="Adicionar o segundo link"/>
			<br />
			
			<label for="link3">Link 3:</label>
			<input type="text" id="link3" name="link3" placeholder="Adicionar o terceiro link"/>
			<br />

			<label>Turma:</label>
			<select th:field="*{turma}">
				<option th:each="t : ${listTurma}" th:value="${t.turmaId.getFormattedId}"
					th:text="${t.turmaId.semestre}"></option>
			</select><br />

			<button type="submit">Inserir</button>
		</form>
	</div>
</body>

</html>