<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Informações de Turma</title>
	<style type="text/css">
		* {
			margin: 10px;
		}

		.botao {
			background-color: rgb(64, 128, 128);
			/* Verde */
			color: white;
			padding: 20px;
			border: none;
			border-radius: 5px;
			text-decoration: none;
			font-size: 16px;
			display: inline-block;
			text-align: center;
			cursor: pointer;
		}

		.botao:hover {
			background-color: rgb(128, 128, 128);
			/* Verde mais escuro */
		}

		a {
			text-decoration: none;
			color: black;
			font-size: 16px;
		}

	</style>
</head>

<body>
	<div align="center">
		<h1>O histórico foi deletado!</h1>
		<a th:href="@{/home}" class="botao">Início</a>
		<a th:href="@{/alunoHome}" class="botao">Voltar para Aluno</a>
		<a th:href="@{/historicoHome}" class="botao">Voltar</a>
	</div>
</body>
</html>