<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Informações de Turma</title>
	<style type="text/css">
		label {
			display: inline-block;
			width: 200px;
			margin: 5px;
			align-items: center;
			justify-content: center;
			text-align: left;
		}

		a {
			text-decoration: none;
			color: black;
			font-size: 16px;
		}

		i {
			margin-right: 4px;
		}
	</style>
</head>

<body>
	<div align="center">
		<table>
			<thead>
				<tr>
					<th>Curso</th><br />
					<th>Ano</th><br />
					<th>Semestre de Conclusão</th><br />
					<th>Turno</th><br />
				</tr>
			</thead>
			<tbody>
				<tr th:each="turmaId: ${turmasId}">
					<td th:text="${turmaId.codigoCurso}"></td><br />
					<td th:text="${turmaId.ano}"></td><br />
					<td th:text="${turmaId.semestre}"></td><br />
					<td th:text="${turmaId.turno}"></td><br />
				</tr>
			</tbody>
		</table>
	</div>
	<div align="center">
		<a th:href="@{/turmaHome}" class="botao">Voltar</a>
	</div>
</body>

</html>