<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Informações de Turma</title>
	<style type="text/css">
		label {
			display: inline-block;
			width: 200px;
			margin: 5px;
			text-align: left;
		}
	</style>
</head>

<body>

	<div align="center">
		<form action="#" th:action="@{/turmaPost}" th:object="${turmaId}" method="post">

			<!--<label>Curso:</label>
			<select th:field="*{curso}">
				<option th:each="c : ${listCurso}" th:value="${c.codigo}" th:text="${c.codigo}"></option>
			</select><br />-->

			<label for="codigoCurso">Curso:</label>
			<select id="codigoCurso" th:field="*{codigoCurso}" required>
				<option value="" disabled selected>Selecione um curso</option>
				<option th:each="curso : ${cursos}" th:value="${curso.codigo}" th:text="${curso.codigo}"></option>
			</select>

			<label>Ano de Conclusão:</label>
			<input type="number" th:field="*{ano}" id="ano" /><br />

			<label>Semestre de Conclusão:</label>
			<input type="number" th:field="*{semestre}" id="semestre" /><br />

			<label for="turno">Turno:</label>
			<select id="turno" th:field="*{turno}" required>
				<option value="" disabled selected>Selecione o turno</option>
				<option th:each="turno : ${turnos}" th:value="${turno}" th:text="${turno}"></option>
			</select>

			<button type="submit">Inserir</button>
		</form>
	</div>
</body>

</html>